@using LojaMvc.Models.Produto;
@model ProdutoCadastroViewModel

<form asp-action="cadastrar" method="post">
    <div class="row">
        <div class="col-12">
            <label class="form-label" asp-for="Nome"></label>
            <input class="form-control" asp-for="Nome"/>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-12">
            <label class="form-label" asp-for="PrecoUnitario"></label>
            <input class="form-control" asp-for="PrecoUnitario"/>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <button class="btn btn-success float-end" type="submit">
                <i class="fa-solid fa-floppy-disk"></i>
                Salvar
            </button>
        </div>
    </div>

</form>