<form action="/produto/editar?id=@ViewBag.Produto.Id" method="post">
    <div class="row">
        <div class="col-12">
            <label class="form-label" for="campo-nome">Nome</label>
            <input class="form-control" type="text" id="campo-nome" name="nome"
                   value="@ViewBag.Produto.Nome" />
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-12">
            <label class="form-label" for="campo-preco-unitario">Preço unitário</label>
            <input class="form-control" type="text" id="campo-preco-unitario"
                   name="precoUnitario" 
                   value="@ViewBag.Produto.PrecoUnitario" />
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <button class="btn btn-success float-end" type="submit">
                <i class="fa-solid fa-floppy-disk"></i>
                Salvar
            </button>
        </div>
    </div>

</form>