<form action="CalularImc" method="POST">
    <div>
        <label for="campo-nome">Nome</label>
        <input type="text" id="campo-nome" name="nome" />
    </div>

    <div>
        <label for="campo-altura">Altura</label>
        <input type="text" id="campo-altura" name="altura" />
    </div>

    <div>
        <label for="campo-peso">Peso</label>
        <input type="text" id="campo-peso" name="peso" />
    </div>

    <div>
        <button type="submit">Calcular IMC</button>
    </div>
</form>