@{
    ViewData["Title"] = "Home Page";
    var numero1 = 1;
    var numero2 = 2;
    var soma = numero1 + numero2;

}
<div>
    Soma: @soma
</div>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
