@model ClienteCadastroViewModel


<form asp-controller="Cliente" asp-action="Cadastrar" method="post">
    <div class="row">
        <div class="col">
            <label class="form-label" asp-for="Nome"></label>
            <input class="form-control" asp-for="Nome"/>
            <span asp-validation-for="Nome" class="text-danger"></span>
        </div>
        <div class="col">
            <label class="form-label" asp-for="Cpf"></label>
            <input class="form-control" asp-for="Cpf" />
            <span asp-validation-for="Cpf" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label class="form-label" asp-for="DataNascimento"></label>
            <input class="form-control" asp-for="DataNascimento" />
            <span asp-validation-for="DataNascimento" class="text-danger"></span>
        </div>
        <div class="col">
            <label class="form-label" asp-for="Estado"></label>
            <select class="form-select" asp-for="Estado">
                <option value="" disabled="disabled">Selecione</option>
                <option value="AC">Acre</option>
                <option value="AL">Alagoas</option>
                <option value="AP">Amapá</option>
                <option value="AM">Amazonas</option>
                <option value="BA">Bahia</option>
                <option value="CE">Ceará</option>
                <option value="DF">Distrito Federal</option>
                <option value="ES">Espirito Santo</option>
                <option value="GO">Goiás</option>
                <option value="MA">Maranhão</option>
                <option value="MS">Mato Grosso do Sul</option>
                <option value="MT">Mato Grosso</option>
                <option value="MG">Minas Gerais</option>
                <option value="PA">Pará</option>
                <option value="PB">Paraíba</option>
                <option value="PR">Paraná</option>
                <option value="PE">Pernambuco</option>
                <option value="PI">Piauí</option>
                <option value="RJ">Rio de Janeiro</option>
                <option value="RN">Rio Grande do Norte</option>
                <option value="RS">Rio Grande do Sul</option>
                <option value="RO">Rondônia</option>
                <option value="RR">Roraima</option>
                <option value="SC">Santa Catarina</option>
                <option value="SP">São Paulo</option>
                <option value="SE">Sergipe</option>
                <option value="TO">Tocantins</option>
            </select>
            <span asp-validation-for="Estado" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label class="form-label" asp-for="Cidade"></label>
            <input class="form-control" asp-for="Cidade" />
            <span asp-validation-for="Cidade" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label class="form-label" asp-for="Bairro"></label>
            <input class="form-control" asp-for="Bairro" />
            <span asp-validation-for="Bairro" class="text-danger"></span>
        </div>
        <div class="col">
            <label class="form-label" asp-for="Cep"></label>
            <input class="form-control" asp-for="Cep" />
            <span asp-validation-for="Cep" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label class="form-label" asp-for="Logradouro"></label>
            <input class="form-control" asp-for="Logradouro" />
            <span asp-validation-for="Logradouro" class="text-danger"></span>
        </div>
        <div class="col">
            <label class="form-label" asp-for="Numero"></label>
            <input class="form-control" asp-for="Numero" />
            <span asp-validation-for="Numero" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label class="form-label" asp-for="Complemento"></label>
            <textarea class="form-control" asp-for="Complemento"></textarea>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-success float-end">
                <i class="fa-solid fa-floppy-disk"></i>
                Cadastrar
            </button>
        </div>
    </div>
</form>

<script src="/js/Cliente/ClienteCadastro.js"></script>