<form action="/cliente/cadastrar" method="post">
    <div class="row">
        <div class="col">
            <label class="form-label" for="campo-nome">Nome</label>
            <input class="form-control" type="text" id="campo-nome" name="nome" required="required" />
        </div>
        <div class="col">
            <label class="form-label" for="campo-cpf">CPF</label>
            <input class="form-control" type="text" id="campo-cpf" name="cpf" required="required" />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label class="form-label" for="campo-data-nascimento">Data de nascimento</label>
            <input class="form-control" type="date" id="campo-data-nascimento" name="dataNascimento" required="required" />
        </div>
        <div class="col">
            <label class="form-label" for="campo-endereco-estado">Estado</label>
            <select class="form-select" id="campo-estado" name="estado" required="required">
                <option value="" disabled="disabled">Selecione</option>
                <option value="AC">Acre</option>
                <option value="AL">Alagoas</option>
                <option value="AP">Amapá</option>
                <option value="AM">Amazonas</option>
                <option value="BA">Bahia</option>
                <option value="CE">Ceará</option>
                <option value="DF">Distrito Federal</option>
                <option value="ES">Espirito Santo</option>
                <option value="GO">Goiás</option>
                <option value="MA">Maranhão</option>
                <option value="MS">Mato Grosso do Sul</option>
                <option value="MT">Mato Grosso</option>
                <option value="MG">Minas Gerais</option>
                <option value="PA">Pará</option>
                <option value="PB">Paraíba</option>
                <option value="PR">Paraná</option>
                <option value="PE">Pernambuco</option>
                <option value="PI">Piauí</option>
                <option value="RJ">Rio de Janeiro</option>
                <option value="RN">Rio Grande do Norte</option>
                <option value="RS">Rio Grande do Sul</option>
                <option value="RO">Rondônia</option>
                <option value="RR">Roraima</option>
                <option value="SC">Santa Catarina</option>
                <option value="SP">São Paulo</option>
                <option value="SE">Sergipe</option>
                <option value="TO">Tocantins</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label class="form-label" for="campo-cidade">Cidade</label>
            <input class="form-control" type="text" id="campo-cidade" name="cidade" required="required" />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label class="form-label" for="campo-bairro">Bairro</label>
            <input class="form-control" type="text" id="campo-bairro" name="bairro" required="required" />
        </div>
        <div class="col">
            <label class="form-label" for="campo-cep">CEP</label>
            <input class="form-control" type="text" id="campo-cep" name="cep" required="required" />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label class="form-label" for="campo-logradouro">Logradouro</label>
            <input class="form-control" type="text" id="campo-logradouro" name="logradouro" required="required" />
        </div>
        <div class="col">
            <label class="form-label" for="campo-numero">Número</label>
            <input class="form-control" type="text" id="campo-numero" name="numero" required="required" />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label class="form-label" for="campo-complemento">Complemento</label>
            <textarea class="form-control" type="text" id="campo-complemento" name="complemento"></textarea>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-success float-end">
                <i class="fa-solid fa-floppy-disk"></i>
                Cadastrar
            </button>
        </div>
    </div>
</form>

<script src="/js/Cliente/ClienteCadastro.js"></script>